.pBox{
    width: 100vw;
    background-color:#533607;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0;
    padding:0;
}

.title3{
    font-size: 40px;
    font-weight: bold;
    color: rgb(242, 236, 217);
    text-align: center;
    margin-bottom: 1rem;
    font-family: "Outfit", sans-serif;
}

.image{
    width: 90vw;
    height: 100%;
    object-fit: cover;
    border: 3px solid rgb(240, 232, 212);
    border-radius: 17px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}

.like{
    font-size: 20px;
    color: rgb(88, 69, 11);
    font-weight: 700;
    margin: 10px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    background-color:rgb(238, 231, 218);
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid rgb(139, 124, 64);
    padding: 5px;
}

.like img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.control{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.like:hover{
   scale: 1.1;
}