.box {
    background-color: rgb(2, 2, 18);
    background-size: 100vw;
    animation: appear 0.5s ;
    margin: 0;
    padding: 0;
}
@keyframes home {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.box1 {
    background-size: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    /* Show one full image centered, then fill leftover space with lavender */
    top: 0;

}

.title {
    color: white;
    font-size: 60px;
    font-weight: 900;
    margin-top: 20px;
    text-align: center;
}

.disc {
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.box2 {
    background-color: rgb(77, 57, 4);
    background: linear-gradient(to right, #533607, #875105);
    background-size: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    border-radius: 50px 50px 0px 0px;
    position: sticky;
    top: 0;
}

.title2 {
    color: rgb(237, 235, 230);
    font-size: 32px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
    display: flex;

}

.searchInput {
    width: 90vw;
    padding: 10px;
    margin: 20px auto;
    border: 2px solid #e6cf9e;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    color: #333;
}

.search {
    display: flex;
    align-items: center;
    position: sticky;
}


.poemCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45vw;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.815);
    background-color: #f1ece4;
    color: #333;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.poems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.my-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -16px;
    /* gap size */
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 16px;
    /* gap size */
}

.poemTitle {
    font-size: 20px;
    margin-top: 10px;
 
    font-weight: 750;
    color: rgb(99, 61, 5);
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.pImg {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.header {
   
    border-radius: 25px 25px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    width: 100%;
    background: linear-gradient(to right, #533607, #875105);

}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
        /* clip-path: inset(100% 100% 0 0); */
    }

    to {
        opacity: 1;
        scale: 1;
        /* clip-path: inset(0 0 0 0); */
    }
}

.poemCard {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 33%;
}

.searchResults {
    width: 90vw;
    padding: 0px;
    align-self: center;
    border: 2px solid #ceb38c;
    border-radius: 20px;
    font-size: 20px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #544222;
    color: #333;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: left;
    align-items: left;
    animation: searchAppear 0.5s ease-in-out;
}

@keyframes searchAppear {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.searchItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
 

    box-shadow: 0 8px 8px rgba(83, 69, 6, 0.668);
    background-color: #3e3004;
    color: #e7dbc6;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.searchItem:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.searchItem:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    50% {
        opacity: 0.9;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.2);
    }
}

.image {
    height: 70vh;
    z-index: 100;
    object-fit: contain;
    animation: fade 3s infinite;
}

.images {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow: hidden;
}





.image-text {
    z-index: 1000;
    position: fixed;
    top: 57vh;
    color: white;
    font-size: 40px;
    font-weight: bold;
    animation: colorChange 3s infinite;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

@keyframes colorChange {
    0% {
        color: rgb(233, 225, 170);
    }
    25% {
        color: #d0b090;
    }
    50% {
        color: #e0d0a0;
        /* lighter shade of lavender */
    }
    75% {
        color: #f0e0b0;
    }
    100% {
        color: rgb(223, 208, 165);
    }
}

.text-animation {
    animation: colorChange 5s infinite;
}

.imgbackground {
    position: absolute;
    top: 0;
    z-index: 0;
    animation: fade 3s infinite;
    object-fit:fill;
    height: 100%;
    width: 100vw;
    filter: blur(10px) brightness(0.8);

}

.loading {
    font-size: 30px;
    font-weight: bold;
    color: rgb(218, 209, 189);
    text-align: center;
    margin: 20px;
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.toggle {
    background-color: #e7dbc6;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    gap: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.togglebtn {
    background-color: #e0d0a0;
    border: none;
    padding: 2px 10px;
    margin: 10px;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    color: #544222;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.togglebtn:hover {
    background-color: #c6b88c;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
.toggleactive:hover {
    background-color: #c6b88c;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    color: #544222;

}
.toggleactive{
      background-color: #544222;
    border: none;
    padding: 2px 10px;
    margin: 10px;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    color: #e0d0a0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* ...existing code... */
.videos{
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
}
.videoCard {
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 95vw;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.815);
    background-color: #f1ece4;
    color: #333;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    box-sizing: border-box;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 33%;
}

.videoCard iframe {
    
    width: 90vw;
    /* height: ; */
    border-radius: 10px;
    margin-bottom: 10px;
}

.no-video {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0d0a0;
    border-radius: 10px;
    color: #544222;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}
